body{
    font: 18px Arial, sans-serif;
}

.navbar{
    background-color: teal;
    color: white;  

}


.quemsomos{
    background-color: gainsboro;
    color: gray
}
.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}
.parceiros{
    background-color:black;
    color: antiquewhite;
     
}

.bg-footer{
    background-color: black;
    color:white;
    height: 200px;
    
}